In [3]:
from account import Account

In [4]:
from decimal import Decimal

In [5]:
value = Decimal('12.34')

In [6]:
account1 = Account('John Green', Decimal('50.00'))

In [7]:
account1.name

'John Green'

In [8]:
account1.balance

Decimal('50.00')

In [9]:
account1.deposit(Decimal('25.53'))

In [10]:
account1.balance

Decimal('75.53')

In [11]:
account1.deposit(Decimal('-123.45'))

ValueError: amount must be positive.

In [12]:
# account.py
"""Account class definition."""
from decimal import Decimal

class Account:
    """Account class for maintaining a bank account balance."""

In [13]:
Account?

Init signature: Account()
Docstring:      Account class for maintaining a bank account balance.
Type:           type
Subclasses:

In [14]:
def __init__(self, name, balance):
    """Initialize an Account object."""
    
    # if balance is less than 0.00, raise an exception
    if balance < Decimal('0.00'):
        raise ValueError('Initial balance must be >= to 0.00.')
    
    self.name = name
    self.balance = balance

In [15]:
def deposit(self, amount):
    """Deposit money to the account."""
    
    # if amount is less than 0.00, raise an exception
    if amount < Decimal('0.00'):
        raise ValueError('amount must be positive.')
        
    self.balance += amount

In [16]:
def withdraw(self, amount):
    """Withdraw money from the account."""
    
    #if amount is greater than balance, raise an exception
    if amount > self.balance:
        raise ValueError('amount must <= to balance.')
    elif amount < Decimal('0.00'):
        raise ValueError('amount must be positive.')
        
    self.balance -= amount

In [17]:
from account import Account

In [18]:
from decimal import Decimal

In [19]:
account1 = Account('John Green', Decimal('50.00'))

In [20]:
account1.withdraw(Decimal('20.00'))

AttributeError: 'Account' object has no attribute 'withdraw'

In [21]:
account1.balance

Decimal('50.00')

In [22]:
account1.withdraw(Decimal('100.00'))

AttributeError: 'Account' object has no attribute 'withdraw'

In [23]:
from account import Account

In [24]:
from decimal import Decimal

In [25]:
account1 = Account('John Green', Decimal('50.00'))

In [26]:
account1.balance

Decimal('50.00')

In [27]:
account1.balance = Decimal('-1000.00')

In [28]:
account1.balance

Decimal('-1000.00')

In [29]:
from timewithproperties import Time

In [30]:
wake_up = Time(hour=6, minute=30)

In [31]:
wake_up

Time(hour=6, minute=30, second=0)

In [32]:
print(wake_up)

6:30:00 AM

In [33]:
wake_up.hour

6

In [34]:
wake_up.set_time(hour=7, minute=45)

In [35]:
wake_up

Time(hour=7, minute=45, second=0)

In [36]:
wake_up.hour = 6

In [37]:
wake_up

Time(hour=6, minute=45, second=0)

In [38]:
wake_up.hour = 100

ValueError: Hour (100) must be 0-23

In [39]:
# timewithproperties.py
"""Class Time with read-write properties."""

class Time:
    """Class Time with read-write properties."""
    
    def _init_(self, hour=0, minute=0, second=0):
        """Initialize each attribute."""
        self.hour = hour # 0-23
        self.minute = minute # 0-59
        self.second = second # 0-59

In [40]:
@property
def hour(self):
    """Return the hour."""
    
@hour.setter
def hour(self, hour):
    """Set the hour."""
    if not (0 <= hour < 24):
        raise ValueError(f'Hour({hour}) must be 0-23')
        
    self._hour = hour

In [41]:
@property
def minute(self):
    """Return the minute."""
    return self._minute

@minute.setter
def minute(self, minute):
    """Set the minute."""
    if not (0 <= minute < 60):
        raise ValueError(f'Minute({minute}) must be 0-59')
                         
    self._minute = minute

@property
def second(self):
    """Return the second."""
    return self._second
                         
@second.setter
def second(self, second):
    """Set the second."""
    if not (0 <= second < 60):
        raise ValueError(f'Second ({second}) must be 0-59')
        
    self._second = second

In [42]:
def set_time(self, hour=0, minute=0, second=0):
    """Set values of hour, minute, and second."""
    self.hour = hour
    self.minute = minute
    self.second = second

In [43]:
def _repr_(self):
    """Return Time string for repr()."""
    return (f'Time(hour={self.hour}, minute={self.minute}, ' +
            f'second={self.second})')

In [44]:
def _str_(self):
    """Print Time in 12 hour clock format."""
    return (('12' if self.hour in (0, 12) else str(self.hour % 12)) +
            f':{self.minute:0>2}:{self.second:0>2}' +
            (' AM' if self.hour < 12 else ' PM'))

In [45]:
@property
def time(self):
    """Return hour, minute, and second as a tuple."""
    return (self.hour, self.minute, self.second)

@time.setter
def time(self, time_tuple):
    """Set time from a tuple containing hour, minute and second."""
    self.set_time(time_tuple[0], time_tuple[1], time_tuple[2])

In [46]:
from timewithproperties import Time

In [47]:
t = Time()

In [48]:
t

Time(hour=0, minute=0, second=0)

In [49]:
t.time = (12, 30, 45)

In [50]:
t.time

(12, 30, 45)

In [51]:
from timewithproperties import Time

In [52]:
wake_up = Time(hour=7, minute=45, second=30)

In [53]:
wake_up._hour

7

In [54]:
wake_up._hour = 100

In [55]:
wake_up

Time(hour=100, minute=45, second=30)

In [56]:
# private.py
"Class with public and private attributes."""

class PrivateClass:
    """Class with public and private attributes."""
    
    def _init_(self):
        """Initialize the public and private attributes."""
        self.public_data = "public" #public attribute
        self._private_data = "private" #private attribute

In [57]:
from private import PrivateClass

In [58]:
my_object = PrivateClass()

In [59]:
my_object.public_data

'public'

In [60]:
my_object._private_data

AttributeError: 'PrivateClass' object has no attribute '_private_data'

In [61]:
my_object._PrivateClass__private_data

'private'

In [62]:
my_object._PrivateClass__private_data = 'modified'

In [63]:
my_object._PrivateClass__private_data

'modified'

In [64]:
from deck import DeckOfCards

In [65]:
deck_of_cards = DeckOfCards()

In [66]:
print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [67]:
deck_of_cards.shuffle()

In [68]:
print(deck_of_cards)

Queen of Hearts    10 of Spades       2 of Spades        King of Diamonds
King of Hearts     Jack of Spades     8 of Clubs         4 of Diamonds
King of Clubs      9 of Spades        3 of Spades        5 of Hearts
Jack of Hearts     8 of Diamonds      7 of Diamonds      Queen of Diamonds
10 of Clubs        8 of Spades        Queen of Spades    7 of Spades
7 of Clubs         6 of Hearts        Ace of Spades      3 of Clubs
6 of Diamonds      5 of Diamonds      6 of Spades        8 of Hearts
Jack of Clubs      4 of Hearts        2 of Diamonds      Jack of Diamonds
9 of Clubs         4 of Spades        10 of Hearts       10 of Diamonds
Ace of Diamonds    2 of Clubs         Ace of Hearts      5 of Spades
3 of Hearts        Queen of Clubs     9 of Diamonds      King of Spades
4 of Clubs         Ace of Clubs       3 of Diamonds      6 of Clubs
9 of Hearts        5 of Clubs         2 of Hearts        7 of Hearts

In [69]:
deck_of_cards.deal_card()

Card(face='Queen', suit='Hearts')

In [70]:
card = deck_of_cards.deal_card()

In [71]:
str(card)

'10 of Spades'

In [72]:
card.image_name

'10_of_Spades.png'

In [73]:
# card.py
"""Card class that represents a playing card and its image file name."""

class Card:
    FACES = ['Ace', '2', '3', '4', '5', '6',
             '7', '8', '9', '10', 'Jack', 'Queen', 'King']
    SUITS = ['Hearts', 'Diamonds', 'Clubs', 'Spades']

In [74]:
def __init__(self, face, suit):
    """Initialize a Card with a face and suit."""
    self._face = face
    self._suit = suit

In [75]:
@property
def face(self):
    """Return the Card's self._face value."""
    return self._face

@property
def suit(self):
    """Return the Card's self._suit value."""
    return self._suit
    
@property
def image_name(self):
    """Return the Card's image file name."""
    return str(self).replace(' ', '_') + '.png'

In [76]:
def __repr__(self):
    """Return string representation for repr()."""
    return f"Card(face='{self.face}', suit='{self.suit}')"

def _str_(self):
    """Return string representation for str()."""
    return f'{self.face} of {self.suit}'

In [77]:
def __format__(self, format):
    """Return formatted string representation for str()."""
    return f'{str(self):{format}}'

In [78]:
# deck.py
"""Deck class represents a deck of Cards."""
import random
from card import Card

class DeckofCards:
    NUMBER_OF_CARDS = 52 # constant number of Cards
    
    def __init__(self):
        """Initialize the deck."""
        self._current_card = 0
        self._deck = []
        
        for count in range(DeckOfCards.NUMBER_OF_CARDS):
            self._deck.append(Card(Card.FACES[count % 13],
                Card.SUITS[count // 13]))

In [79]:
def shuffle(self):
    """Shuffle deck."""
    self._current_card = 0
    random.shuffle(self._deck)

In [80]:
def deal_card(self):
    """Return one Card."""
    try:
        card = self._deck[self._current_card]
        self._current_card += 1
        return card
    except:
        return None

In [81]:
def __str__(self):
    """Return a string representation of the current _deck."""
    s = ''
    
    for index, card in enumerate(self._deck):
        s += f'{self._deck[index]:<19}'
        if (index + 1) % 4 == 0:
            s += '\n'
            
        return s

In [82]:
from deck import DeckOfCards

In [83]:
deck_of_cards = DeckOfCards()

In [84]:
%matplotlib

Using matplotlib backend: <object object at 0x000001F8AE83B220>

In [85]:
from pathlib import Path

In [86]:
path = Path(' . ').joinpath('card_images')

In [87]:
import matplotlib.pyplot as plt

In [88]:
import matplotlib.image as mpimg

In [90]:
figure, axes_list = plt.subplots(nrows=4, ncols=13)

In [91]:
for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

In [92]:
figure.tight_layout()

In [93]:
deck_of_cards.shuffle()

In [94]:
for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

In [96]:
deck_of_cards.shuffle()

figure, axes_list = plt.subplots(nrows=2, ncols=5)

for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

figure.tight_layout()

In [97]:
# commissionemployee.py
"""CommissionEmployee base class."""
from decimal import Decimal

class CommissionEmployee:
    """An employee who gets paid commission based on gross sales."""
    
    def __init__(self, first_name, last_name, ssn, gross_sales, commission_rate):
        """Initialize CommissionEmployee's attributes."""
        self._first_name = first_name
        self._last_name = last_name
        self._ssn = ssn
        self.gross_sales = gross_sales # validate via property
        self.commission_rate = commission_rate # validate via property
    
    @property
    def first_name(self):
        return self._first_name
    
    @property
    def last_name(self):
        return self._last_name
    
    @property
    def ssn(self):
        return self._ssn
    
    @property
    def gross_sales(self):
        return self._gross_sales
    
    @gross_sales.setter
    def gross_sales(self, sales):
        """Set gross sales or raise ValueError if invalid."""
        if sales < Decimal('0.00'):
            raise ValueError('Gross sales must be >= to 0')
        
        self._gross_sales = sales
    
    @property
    def commission_rate(self):
        return self._commission_rate
    
    @commission_rate.setter
    def commission_rate(self, rate):
        """Set commission rate or raise ValueError if invalid."""
        if not (Decimal('0.00') < rate < Decimal('1.0')):
            raise ValueError('Interest rate must be greater than 0 and less than 1')
        
        self._commission_rate = rate
        
    def earnings(self):
        """Calculate earnings."""
        return self.gross_sales * self.commission_rate
    
    def __repr__(self):
        """Return string representation for repr()."""
        return ('CommissionEmployee: ' +
                f'{self.first_name} {self.last_name}\n' +
                f'social security number: {self.ssn}\n' +
                f'gross sales: {self.gross_sales:.2f}\n' +
                f'commission rate: {self.commission_rate:.2f}')

In [98]:
from commissionemployee import CommissionEmployee
from decimal import Decimal
c = CommissionEmployee('Sue', 'Jones', '333-33-3333', Decimal('10000.00'), Decimal('0.06'))

In [100]:
c

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06

In [101]:
print(f'{c.earnings():,.2f}')

600.00

In [102]:
c.gross_sales = Decimal('20000.00')
c.commission_rate = Decimal('0.1')
print(f'{c.earnings():,.2f}')

2,000.00

In [104]:
# salariedcommissionemployee.py
"""SalariedCommissionEmployee derived from CommissionEmployee."""
from commissionemployee import CommissionEmployee
from decimal import Decimal

class SalariedCommissionEmployee(CommissionEmployee):
    """An employee who gets paid a salary plus commission based on gross sales."""
    
    def __init__(self, first_name, last_name, ssn, gross_sales, commission_rate, base_salary):
        """Initialize SalariedCommissionEmployee's attributes."""
        super().base_salary = base_salary # validate via property
    
    @property
    def base_salary(self):
        return self._base_salary
    
    @base_salary.setter
    def base_salary(self, salary):
        """Set base salary or raise ValueError if invalid."""
        if salary < Decimal('0.00'):
            raise ValueError('Base salary must be >= to 0')
            
        self._base_salary = salary
        
    def earnings(self):
        """Calculate earnings."""
        return super().earnings() + self.base_salary
    
    def __repr__(self):
        """Return string representation for repr()."""
        return ('Salaried' + super().__repr__() + f'\nbase salary: {self.base_salary:.2f}')

In [105]:
from salariedcommissionemployee import SalariedCommissionEmployee
s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444', Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))

print(s.first_name, s.last_name, s.ssn, s.gross_sales, s.commission_rate, s.base_salary)

Bob Lewis 444-44-4444 5000.00 0.04 300.00

In [106]:
print(f'{s.earnings():,.2f}')

500.00

In [107]:
s.gross_sales = Decimal('10000.00')
s.commission_rate = Decimal('0.05')
s.base_salary = Decimal('1000.00')
print(s)

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.05
base salary: 1000.00

In [108]:
print(f'{s.earnings():,.2f}')

1,500.00

In [109]:
issubclass(SalariedCommissionEmployee, CommissionEmployee)

True

In [110]:
isinstance(s, CommissionEmployee)

True

In [111]:
isinstance(s, SalariedCommissionEmployee)

True

In [112]:
employees = [c, s]
for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 20000.00
commission rate: 0.10
2,000.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.05
base salary: 1000.00
1,500.00

In [113]:
class WellPaidDuck:
    def __repr__(self):
        return 'I am a well-paid duck'
    def earnings(self):
        return Decimal('1_000_000.00')

In [115]:
from decimal import Decimal
from commissionemployee import CommissionEmployee
from salariedcommissionemployee import SalariedCommissionEmployee
c = CommissionEmployee('Sue', 'Jones', '333-33-3333', Decimal('10000.00'), Decimal('0.06'))
s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444', Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))

In [117]:
d = WellPaidDuck()
employees = [c, s, d]

In [118]:
for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06
600.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 5000.00
commission rate: 0.04
base salary: 300.00
500.00

I am a well-paid duck
1,000,000.00

In [119]:
from complexnumber import Complex

In [121]:
x = Complex(real=2, imaginary=4)

In [122]:
x

(2 + 4i)

In [123]:
y = Complex(real=5, imaginary=-1)

In [124]:
y

(5 - 1i)

In [125]:
x + y

(7 + 3i)

In [126]:
x

(2 + 4i)

In [127]:
y

(5 - 1i)

In [128]:
x += y

In [129]:
x

(7 + 3i)

In [130]:
y

(5 - 1i)

In [131]:
# complexnumber.py
"""Complex class with overload operators."""

class Complex:
    """Complex class that represents a complex number with real and imaginary parts."""
    
    def __init__(self, real, imaginary):
        """Initialize Complex class's attributes."""
        self.real = real
        self.imaginary = imaginary

In [132]:
def __add__(self, right):
    """Overides the + operator."""
    return Complex(self.real + right.real, self.imaginary + right.imaginary)

In [133]:
def __iadd__(self, right):
    """Overrides the += operator."""
    self.real += right.real
    self.imaginary += right.imaginary
    return self

In [134]:
def __repr__(self):
    """Return string representation for repr()."""
    return (f'({self.real} ' + ('+' if self.imaginary >= 0 else '-') + f' {abs(self.imaginary)}i)')

In [135]:
def __sub__(self, right):
    """Overrides the - operator."""
    return Complex(self.real - right.real, self.imaginary - right.imaginary)

In [139]:
def __isub__(self, right):
    """Overrides the -= operator."""
    self.real -= right.real 
    self.imaginary -= right.imaginary
    return self

In [140]:
from complexnumber2 import Complex

In [141]:
x = Complex(real=2, imaginary=4)
y = Complex(real=5, imaginary=-1)

In [142]:
x-y

(-3 + 5i)

In [143]:
x-=y

In [144]:
x

(-3 + 5i)

In [145]:
y

(5 - 1i)

In [153]:
from collections import namedtuple

In [154]:
Card = namedtuple('Card', ['face', 'suit'])

In [155]:
card = Card(face='Ace', suit='Spades')

In [156]:
card.face

'Ace'

In [157]:
card.suit

'Spades'

In [158]:
card

Card(face='Ace', suit='Spades')

In [159]:
values = ['Queen', 'Hearts']

In [160]:
card = Card._make(values)

In [161]:
card

Card(face='Queen', suit='Hearts')

In [162]:
card._asdict()

{'face': 'Queen', 'suit': 'Hearts'}

In [163]:
from collections import namedtuple

In [164]:
Time = namedtuple('Time', ['hour', 'minute', 'second'])
t = Time(13, 30, 45)

In [165]:
print(t.hour, t.minute, t.second)

13 30 45

In [166]:
t

Time(hour=13, minute=30, second=45)

In [168]:
# carddataclass.py
"""Card data class with class attributes, data attributes, autogenerated methods and explicitly defined methods."""
from dataclasses import dataclass
from typing import ClassVar, List

@dataclass
class Card:
    FACES: ClassVar[List[str]] = ['Ace', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'Jack', 'Queen', 'King']
    SUITS: ClassVar[List[str]] = ['Hearts', 'Diamonds', 'Clubs', 'Spades']

In [169]:
from dataclasses import dataclass

In [170]:
@dataclass
class Demo:
    x # attempting to create a data attribute x

In [171]:
face: str
suit: str

In [172]:
@property
def image_name(self):
    """Return the Card's image file name."""
    return str(self).replace(' ','_') + ' .png'

def __str__(self):
    """Return string representation for str()."""
    return f'{self.face} of {self.suit}'

def __format__(self, format):
    """Return formatted string representation."""
    return f'{str(self):{format}}'

In [173]:
from carddataclass import Card

In [174]:
c1 = Card(Card.FACES[0], Card.SUITS[3])

In [175]:
c1

Card(face='Ace', suit='Spades')

In [176]:
print(c1)

Ace of Spades

In [177]:
c1.face

'Ace'

In [178]:
c1.suit

'Spades'

In [179]:
c1.image_name

'Ace_of_Spades.png'

In [180]:
c2 = Card(Card.FACES[0], Card.SUITS[3])

In [181]:
c2

Card(face='Ace', suit='Spades')

In [182]:
c3 = Card(Card.FACES[0], Card.SUITS[0])

In [183]:
c3

Card(face='Ace', suit='Hearts')

In [184]:
c1 == c2

True

In [185]:
c1 == c3

False

In [186]:
c1 != c3

True

In [187]:
from deck2 import DeckOfCards # uses Card data class
deck_of_cards = DeckOfCards()

In [188]:
print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [189]:
from carddataclass import Card

In [190]:
c = Card('Ace', 'Spades')

In [191]:
c

Card(face='Ace', suit='Spades')

In [192]:
type(c.face)

str

In [193]:
c.face = 100

In [194]:
c

Card(face=100, suit='Spades')

In [195]:
type(c.face)

int

In [196]:
# accountdoctest.py
"""Account class definition."""
from decimal import Decimal

class Account:
    """Account class for demonstrating doctest."""
    
    def __init__(self, name, balance):
        """Initialize an Account object.
        
        >>> account1 = Account('John Green', Decimal('50.00'))
        >>> account1.name
        'John Green'
        >>> account1.balance
        Decimal('50.00')
        
        The balance argument must be greater than or equal to 0.
        >>> account2 = Account('John Green', Decimal('-50.00'))
        Traceback (most recent call last):
            ...
        ValueError: Initial balance must be >= to 0.00.
        """
        
        # if balance is less than 0.00, raise an exception
        if balance < Decimal('0.00'):
            raise ValueError('Initial balance must be >= to 0.00.')
        
        self.name = name
        self.balance = balance
    def deposit(self, amount):
        """Deposit money to the account."""
        
        # if amount is less than 0.00, raise an exception
        if amount < Decimal('0.00'):
            raise ValueError('amount must be positive.')
        
        self.balance += amount
        
if __name__ == '__main__':
    import doctest
    doctest.testmod(verbose=True)

Trying:
    account1 = Account('John Green', Decimal('50.00'))
Expecting nothing
ok
Trying:
    account1.name
Expecting:
    'John Green'
ok
Trying:
    account1.balance
Expecting:
    Decimal('50.00')
ok
Trying:
    account2 = Account('John Green', Decimal('-50.00'))
Expecting:
    Traceback (most recent call last):
        ...
    ValueError: Initial balance must be >= to 0.00.
ok
28 items had no tests:
    __main__
    __main__.Account
    __main__.Account.deposit
    __main__.DeckofCards
    __main__.DeckofCards.__init__
    __main__.Demo
    __main__.Demo.__eq__
    __main__.Demo.__init__
    __main__.Demo.__repr__
    __main__.Time
    __main__.WellPaidDuck
    __main__.WellPaidDuck.__repr__
    __main__.WellPaidDuck.earnings
    __main__.__add__
    __main__.__format__
    __main__.__iadd__
    __main__.__init__
    __main__.__isub__
    __main__.__repr__
    __main__.__str__
    __main__.__sub__
    __main__._repr_
    __main__._str_
    __main__.deal_card
    __main__.deposit
    __main__.set_time
    __main__.shuffle
    __main__.withdraw
1 items passed all tests:
   4 tests in __main__.Account.__init__
4 tests in 29 items.
4 passed and 0 failed.
Test passed.

In [197]:
"""Deposit money to the account.

>>> account1 = Account('John Green', Decimal('50.00'))
>>> account1.deposit(Decimal('10.55'))
>>> account1.balance
Decimal('60.55')

>>> account1.deposit(Decimal('-100.00'))
Traceback (most recent call last):
    ...
ValueError: amount must be positive.
"""

"Deposit money to the account.\n\n>>> account1 = Account('John Green', Decimal('50.00'))\n>>> account1.deposit(Decimal('10.55'))\n>>> account1.balance\nDecimal('60.55')\n\n>>> account1.deposit(Decimal('-100.00'))\nTraceback (most recent call last):\n    ...\nValueError: amount must be positive.\n"

In [198]:
z = 'global Z'

In [199]:
def print_variables():
    y = 'local y in print_variables'
    print(y)
    print(z)

In [200]:
print_variables()

local y in print_variables
global Z

In [201]:
y

(5 - 1i)

In [202]:
z

'global Z'

In [203]:
c = lambda f: 5 / 9 * (f-32)
temps = [(f, c(f)) for f in range(0, 101, 10)]

In [206]:
import pandas as pd

In [207]:
temps_df = pd.DataFrame(temps, columns=['Fahrenheit', 'Celcius'])

In [209]:
axes = temps_df.plot(x='Fahrenheit', y='Celcius', style='.-')

In [210]:
y_label = axes.set_ylabel('Celcius')

In [211]:
nyc = pd.read_csv('ave_hi_nyc_jan_1895-2018.csv')

In [212]:
nyc.head()

     Date  Value  Anomaly
0  189501   34.2     -3.2
1  189601   34.7     -2.7
2  189701   35.5     -1.9
3  189801   39.6      2.2
4  189901   36.4     -1.0

In [213]:
nyc.tail()

       Date  Value  Anomaly
119  201401   35.5     -1.9
120  201501   36.1     -1.3
121  201601   40.8      3.4
122  201701   42.8      5.4
123  201801   38.7      1.3

In [214]:
nyc.columns = ['Date', 'Temperature', 'Anomaly']

In [215]:
nyc.head(3)

     Date  Temperature  Anomaly
0  189501         34.2     -3.2
1  189601         34.7     -2.7
2  189701         35.5     -1.9

In [216]:
nyc.Date.dtype

dtype('int64')

In [217]:
nyc.Date = nyc.Date.floordiv(100)

In [218]:
nyc.head(3)

   Date  Temperature  Anomaly
0  1895         34.2     -3.2
1  1896         34.7     -2.7
2  1897         35.5     -1.9

In [223]:
nyc.Temperature.describe()

count    124.000000
mean      37.595161
std        4.539848
min       26.100000
25%       34.575000
50%       37.600000
75%       40.600000
max       47.600000
Name: Temperature, dtype: float64

In [227]:
from scipy import stats
linear_regression = stats.linregress(x=nyc.Date, y=nyc.Temperature)

In [228]:
linear_regression.slope

0.014771361132966163

In [229]:
linear_regression.intercept

8.694993233674289

In [230]:
linear_regression.slope * 2019 + linear_regression.intercept

38.51837136113297

In [231]:
linear_regression.slope * 1890 + linear_regression.intercept

36.612865774980335

In [234]:
import seaborn as sns
sns.set_style('whitegrid')
axes = sns.regplot(x=nyc.Date, y=nyc.Temperature)
axes.set_ylim(10, 70)

(10.0, 70.0)

In [235]:
year = 2019
slope = linear_regression.slope
intercept = linear_regression.intercept
temperature = slope * year + intercept
while temperature < 40.0:
    year += 1
    temperature = slope * year + intercept

In [236]:
year

2120

In [237]:
%pylab

Using matplotlib backend: TkAgg
%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

C:\Users\15736\Miniconda3\lib\site-packages\IPython\core\magics\pylab.py:162: UserWarning: pylab import has clobbered these variables: ['time', 'axes', 'shuffle', 'random', 'figure']
`%matplotlib` prevents importing * from pylab and numpy
  warn("pylab import has clobbered these variables: %s"  % clobbered +

In [239]:
year = 2021
slope = linear_regression.slope
intercept = linear_regression.intercept
temperature = slope * year + intercept
while temperature <= 40.0:
    year += 1
    temperature = slope * year + intercept

In [240]:
temperature

40.01027883556255

In [241]:
#missy bernskoetter